<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
    <title>Blog Login</title>
</head>
<body>
	<%- include('header') %>
	<%- include('navBar') %>
	
	<main>
		<div class="login-container">
			<form action="/login" method="post">
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" required>
				<br>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" required>
				<br>
				<% if (errorMessage) { %>
					<p style="color: red;"><%- errorMessage %></p>
					<br>
				<% } %>
				<button type="submit">Login</button>
			</form>
		</div>
	</main>
</body>
	<%- include('footer') %>
</html>