<nav>
	<ul class="navbar">
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		
	<% if (isAuthenticated) { %>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/newPost">New Blog</a></li>
	
		<div class="logout-container">
		<div class="search-container">
			<form action="/search" method="POST">
				<input type="text" name="query" id="query" placeholder="Search...">
				<button type="submit">Search</button>
		
			</form>
		</div>
		<form action="/logout" method="POST">
			<button type="submit">Logout</button>
		</form>
	</div>
	<% } else { %>
		<li><a href="/login">Login</a></li>
		<li><a href="signup">Signup</a></li>
		<div class="search-container">
			<form action="/search" method="POST">
				<input type="text" name="query" id="query" placeholder="Search...">
				<button type="submit">Search</button>
		
			</form>
		</div>
	<% } %>
</ul>
</nav>