<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
    <title>Blog Signup</title>
</head>
<body>
	<%- include('header') %>
	<%- include('navBar') %>
	
	<div class="signup-container">
	<form action="/signup" enctype="multipart/form-data" method="post">
		<label for="username">Username:</label>
		<input type="text" name="username" id="username" required>
		<br>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" required>
		<br>
		<% if (errorMessage) { %>
			<p style="color: red;"><%- errorMessage %></p>
			<br>
		<% } %>
		<label for="bio">Bio:</label>
		<input type="text" name="bio" id="bio" required>
		<br>
			<label for="profilePicture">Profile Picture:</label>
        	<input type="file" name="profilePicture" id="profilePicture" required>
		<br>
		<button type="submit">Signup</button>
	</form>
</div>
</body>
	<%- include('footer') %>
</html>